/* Fonts */

@import url(../fonts/fonts.css);

/* Base */

@import url(../css/base/reset.css);
@import url(../css/base/normalize.css);

/* Utils */

@import url(../css/utils/variables.css);
@import url(../css/utils/common.css);

body {
  /* background: #171717; */
}

.main-section {
  background-image: url(../img/background-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-bottom: 40px;

  height: 100vh;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-section {
    background-image: url(../img/background-2x.jpg);
  }
}

.container {
  padding: 100px 0 20px;
  max-width: 430px;
  margin: 0 auto;
}

/*  */

.short-text-container {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;

  padding: 14px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2.3813083171844482px);
}

.short-text {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 16px */
  letter-spacing: -0.48px;
  text-transform: lowercase;

  max-width: 320px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-family: Benzin-Semibold;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 105%; /* 39.9px */
  letter-spacing: -0.76px;
  text-transform: uppercase;

  background: linear-gradient(90deg, #979797 0%, #e4e4e4 50%, #979797 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-bottom: 24px;
}

.subtitle {
  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 24px;
  font-style: normal;
  font-weight: 450;
  line-height: 100%; /* 24px */
  letter-spacing: -0.72px;

  max-width: 329px;
  margin: 0 auto 10px auto;
}

.develop-box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 228px;
  height: 70px;

  margin: 0 auto 48px auto;

  background-image: url(../img/bg-develop.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.develop-text {
  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 16px */
  letter-spacing: -0.32px;

  max-width: 161px;
  margin: 0 auto;
}

.learn-title {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 100%; /* 16px */
  letter-spacing: -0.16px;

  max-width: 260px;
  margin: 0 auto 16px auto;
}

.learn-title span {
  color: #fff;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 100%;
  letter-spacing: -0.16px;
}

.learn-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;

  margin-bottom: 40px;
}

.list-item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 100%;
  width: 158px;
  height: 80px;
  padding: 18px 11px;

  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 14px */
  letter-spacing: -0.42px;
}

.list-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  border: 1px solid transparent;
  background: linear-gradient(
      90deg,
      #cbcbcb 0%,
      rgba(255, 225, 112, 0.03) 50%,
      #cbcbcb 100%
    )
    border-box;
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.btn {
  display: block;

  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 100%; /* 16px */
  letter-spacing: -0.48px;
  text-transform: uppercase;

  padding: 32px 18px;
  border-radius: 100px;
  background: linear-gradient(90deg, #a70300 0%, #e50300 50%, #a70300 100%);

  max-width: 320px;
  margin: 0 auto 12px auto;
}

.desc {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: 'Futura PT';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 14px */
  letter-spacing: -0.42px;
}

.right-now {
  margin-bottom: 10px;
}

.recomend {
  max-width: 290px;
  margin: 0 auto;
}
